<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Unit Match</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <!--
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <div class="header">
      <img id="header-img" src="{{ url_for('static', filename='imgs/banner.png')}}" />
    </div>
    <div id="universitiesProps" style="display:none">{{ universities }}</div>
    <div id="coursesProps" style="display:none">{{ courses }}</div>
    <div id="countriesProps" style="display:none">{{ countries }}</div>
    <div id="resultsProps" style="display:none">{{ results }}</div>

    <a data-fancybox data-type="iframe" data-src="{{ url_for('static', filename='html/instructions.html')}}" href="javascript:;" id="instructions-popup">
      ?
    </a>
    <div class="container">
      <div id="main">
      </div>
    </div>
    <div class="footer">
    </div>

    <!-- scripts -->
    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/js/components.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/js/index.js') }}"></script>
    <script>
      $(document).ready(function() {        
        //$('iframe').material_select();
      });
    </script>
  </body>
</html>