/* custom styles */
thead {
  border-top-width: 10px;
  border-bottom-width: 1px;
  border-top-color: #1565c0;
  border-bottom-color: #1565c0;
}
/*
#universityFilter, #countryFilter, th {
  color: #ffffff !important;
}
*/
#coursesList, #universityFilter, #countryFilter {
  text-transform: uppercase;
}