/* custom styles */
thead {
  border-top-width: 10px;
  border-bottom-width: 1px;
  border-top-color: #1565c0;
  border-bottom-color: #1565c0;
}
/*
#universityFilter, #countryFilter, th {
  color: #ffffff !important;
}
*/
/*#coursesList, #universityFilter, #countryFilter {
  text-transform: uppercase;
}*/

.collapsible-body {
	padding: 0px !important;
}

.collapsible {
	margin: 0px !important;
}

.row {
	margin-bottom: 0px !important;
}
/*
.large {
	height: auto !important;
}*/

.card-title {
	text-align: center !important;
	border-bottom: thin solid #333333 !important;
}

#Countries-card {
	width: 49% !important;
	float: left !important;
}

#Universities-card {
	width: 49% !important;
	float: right !important;
}

#results-table {
	margin-bottom: 50px;
}