/* custom styles */
/*
thead {
  background-color: #1565c0;
}
*/
/*
#universityFilter, label[for=universityFilter], #countryFilter, label[for=countryFilter] {
  color: #ffffff !important;
}
*/
#coursesList {
  text-transform: uppercase;
}